@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  text-align: left;
  background-color: #fff;
}

#contenedor_banner{
padding: 0;
}

h1{
  color:  #fff;
  font-family: "Handlee", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 100px;
  padding-top: 2rem;
}

.navbar_h2{
  font-family: "Handlee", cursive;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.banner_text{
  color:  #fff;
  font-size: large;
}

.banner_text_h4{
  color:  #fff;
  font-size: 1.5rem;
}

.cont_banner {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  background-color: #007bff;
  align-items: center;
  grid-template-areas: 
  'cont_banner_1 cont_banner_2'
  'cont_banner_1 cont_banner_2'
  'cont_banner_1 cont_banner_2';
}

.cont_banner_1 {
  grid-area: cont_banner_1;
  text-align: right; 
  padding-left: 2rem;

}

.cont_banner_2 {
  grid-area: cont_banner_2;
}

.span_banner{
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.buena_accion{
  font-family: "Handlee", cursive;
  font-size: larger;
}
.buena_accion span{
  font-weight: bold;
}

.boton_mas{
  background-color: #007bff;
  color: #fff;
  border-radius: 1.5rem;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding: auto;
}

.grid_cont_footer{
  display: grid;
  background-color: #007bff;
  color:#fff;
  gap: 1rem;
  grid-template-columns: 30% 40% auto;
  grid-template-areas: 
  'grid_footer1 grid_footer1 grid_footer1'
  'grid_footer2 grid_footer3 grid_footer3'
  'grid_footer4 grid_footer4 grid_footer4';
}

.grid_footer1 {
  color:#fff;
  background-color: #007bff;
  grid-area: grid_footer1;
  padding-top: 1rem;
  text-align: center;
}

.grid_footer2 {
  color:#fff;
  background-color: #007bff;
  grid-area: grid_footer2;
  padding-left: 1rem;
  font-size: medium;
}
.grid_footer3 {
  grid-area: grid_footer3;
  gap: 2rem;
  padding-right: 1rem;
}
.grid_footer4 {
  color:#fff;
  background-color: #007bff;
  grid-area: grid_footer4;
  border-top:5px dotted #fff;
  text-align: center;
  padding: 1rem;
}
.grid_footer2 input {
  padding: 5px 5px;
  margin-top: 1rem;
  border-radius: 8px;
}
.grid_footer2 label{
  font-size: small;
}
.grid_footer2 textarea {
  padding: 5px 5px;
  margin-top: 1rem;
  border-radius: 8px;
}

.banner_text{
  font-size: 1.2rem;
}

.contenedor_puntos{
  padding-left: 2rem;
}

#contact{
  background: #007bff;
}
#titulo_formulario{
padding-top: 1rem;
text-align: left;

}

#footer_derechos{
  background: #007bff;
  color:#fff;
}
#footer_contenedor{
  background-image: url(./image/niños_felices2.jpg);
  background-size: cover;
}
.footer_contenedor_trans{
  background-color: rgba(253, 252, 252, 0.7);
}
.boton{
  color:#fff;
  border: solid #fff 1px;
  padding: 4px;
  border-radius: 5px;
}

#contact{
  background-image: url(/image/niños_felices2.jpg);
  background-size:contain;
  margin: 0;
  padding: 0;
}
#contact_contenedor{
  background-color: rgba(253, 252, 252, 0.7);
  border-top: solid 10px #007bff;
  border-bottom: solid 2px #007bff;
}